.app_footer_container {
  width: 100%;
  height: 150px;
  background: linear-gradient(
    180deg,
    #252525 0%,
    rgba(0, 18, 25, 0) 83.85%,
    rgba(0, 18, 25, 0) 100%
  );
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 20px 15px;
  box-sizing: border-box;
}

.app_footer_element_container {
  height: 100%;
  box-sizing: border-box;
}

.reps_value_container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.footer_heart-rate-meter-container {
  margin-left: 10px;
  height: 100%;
}

.footer_heart-rate-meter-cell {
  height: 19%;
  width: 4px;
  box-sizing: border-box;
  margin-bottom: 1px;
  border-radius: 1px;
}
