.circular {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 50px 20px;
}

.circle-end-st {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: #ee9b00;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.circular-line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
  border: 2px solid #e9d8a6;
  border-radius: 50%;
}

.circular .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  z-index: 6;
  background: #fff;
  border-radius: 50%;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ee9b00;
  border-radius: 50%;
  clip: rect(0px, 50px, 100px, 0px);
}

.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
