.app_footer_container {
  /* color: white; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 20px 20px 15px;
  box-sizing: border-box;
}

.app_footer_element_container {
  height: 200px;
  box-sizing: border-box;
}

.reps_value_container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.footer_heart-rate-meter-container {
  margin-left: 15px;
  height: 100%;
}

.footer_heart-rate-meter-cell {
  height: 19%;
  width: 8px;
  box-sizing: border-box;
  margin-bottom: 1px;
  border-radius: 2px;
}
